.container {
  max-width: 1200px;
  margin: 40px auto;
  line-height: 1;
}

.login {
  width: 400px;
  margin: 0 auto;
  border: 3px solid #d2d9da;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.829);
}

.title {
  padding: 30px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.flex {
  display: flex;
  padding: 0 30px;
}

.option {
  width: 50%;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(184, 183, 183);
  color: rgb(184, 183, 183);
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}

.option.active {
  border-bottom: 2px solid #413a3e;
  color: #413a3e;
}

.google {
  display: flex;
  align-items: center;
  margin: 20px 30px 0 30px;
  padding: 15px;
  background-color: #9cbfa7;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.829);
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.google div {
  margin-left: 10px;
}

.googleimg {
  max-width: 25px;
}

.or {
  margin-top: 20px;
  color: rgb(184, 183, 183);
  font-size: 16px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  margin: 20px 30px 0 30px;
  padding: 15px;
  background-color: #eee;
  border: none;
  color: #413a3e;
  font-size: 16px;
  letter-spacing: 1px;
  outline: none;
}

.button {
  margin-top: 35px;
  padding: 18px 0;
  background-color: #413a3e;
  border-radius: 0 0 4px 4px;
  color: rgba(255, 255, 255, 0.829);
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}
