.articleContainer {
  background-color: black;
  width: 70%;
  height: 104%;
}

.aside {
  width: 25%;
  height: 100vh;
  padding: 30px 20px;
  background-color: beige;
}

.selectedWord {
  display: flex;
  justify-content: flex-end;
  background-color: burlywood;
  height: 10%;
  width: 15%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.selected {
  margin-top: 20px;
  font-size: 20px;
}

.main {
  position: relative;
  width: 75%;
  height: 100vh;
  background-color: #444;
  color: #fff;
  padding: 40px 100px;
}

.modal {
  overflow-y: scroll;
}

.vocabList {
  margin-top: 10px;
  cursor: pointer;
}
